/**
 * 存放各组件所需要的css
 */

/**
 * Tab
 */
 .tab-wraper .tab-contents .tab-content {
    display: none;
}
.tab-wraper .tab-contents .active {
    display: block;
}

/**
 * 修改目标价格弹窗
 */
#modifyExpectPrice{
    margin-top: 10px;
}
#modifyExpectPrice .error{
    display:none;
}


/**
 * 正在加载
 */
.loading .loading-tip {
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin: 30px 0;
    text-align: center;
    font-size: 14px;
}
.loading .loading-tip img {
    vertical-align: middle;
    margin: 0 10px;
}

/*网络错误*/
.offline {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 30px 0;
    display: none;
}
/*猜你喜欢*/
 .no-recommands {
    text-align: center;
    width: 400px;
    float: left;
    padding-top: 60px;
}
.items-recmds {
    float: left;
    position: relative;
    overflow: hidden;
    height: 140px;
    padding: 20px 20px 0;
}
.items-recmds .no-more-recommand {
    width: 100%;
    text-align: center;
    margin: 46px 0 0 0;
    color: #666;
}
.items-recmds .prev, .items-recmds .next {
    position: absolute;
    background-image: url(http://zhushou.huihui.cn/images/myspace/slideBtns.png);
    top: 48px;
    cursor: pointer;
    height: 36px;
    width: 34px;
    /*background-image: url(images/slideBtns.png);*/
    background-repeat: no-repeat;
    /* outline: 1px solid #000; */
}
.items-recmds .prev {
    left: 1px;
    background-position: -43px 0;
}
.items-recmds .prev-disable {
    background-position: 0 0;
}
.items-recmds .next {
    right: 1px;
    background-position: -91px 0;
}
.items-recmds .next-disable {
    background-position: -134px 0;
}
.items-recmds .contents-wrapper {
    width: 370px;
    overflow: hidden;
    height: 120px;
    padding: 0 13px;
}
.items-recmds .recom-contents {
    width: 12000px;
    position: relative;
    left: 0;
}
.items-recmds .recom-contents .recom-content {
    width: 130px;
    float: left;
    margin: 0 0;
    left: 0;
    overflow: hidden;
}
.items-recmds .recom-contents .recom-content .special-offer-tip {
    background-position: 0 -48px;
    height: 27px;
    width: 33px;
    position: absolute;
    z-index: 10;
}
.items-recmds .recom-contents a {
    text-align: center;
    display: block;
    height: 90px;
    position: relative;
}
.items-recmds .recom-contents a img {
    max-height: 80px;
    vertical-align: baseline;
}
.items-recmds .recom-contents .intro {
    display: block;
    text-align: center;
}
.items-recmds .recom-contents .intro .icon {
    background-position: 0 -79px;
    vertical-align: -6px;
}
.items-recmds .recom-contents .intro .cur-price {
    color: #fa8200;
    font-weight: bolder;
}
.items-recmds .recom-contents .intro .ori-price {
    color: #ccc;
    text-decoration: line-through;
}
.items-recmds .recom-contents .intro .people-counts {
    color: #a7a7a7;
    font-size: 12px;
}
/**
 * 页码
 */
 .paging {
    margin: 80px auto;
    width: 530px;
    text-align: center;
}
.paging a, .paging span {
    display: inline-block;
    width: 33px;
    height: 40px;
    background: #f5f5f5;
    border: 1px solid #fff;
    line-height: 40px;
    text-align: center;
    color: #999;
}
.paging span, .paging a:hover {
    border:1px solid #fd8712;
}
.paging .prev {
    color: #fd8712;
}
.paging .next {
    color: #fd8712;
}
/**
 * 弹窗模块样式
 */
 .pop-out {
    width: 300px;
    border:1px solid #dfdfdf;
    border-radius: 3px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, .1);
    background: #fff;
}
.pop-out .pop-out-hd {
    background: #f6f7f9;
    height: 39px;
    line-height: 35px;
    position: relative;
}
.pop-out .pop-out-hd .pop-out-line {
    height: 3px;
    background: #fdd472;
    border-bottom: 1px solid #deba64;
}
.pop-out .pop-out-hd .pop-out-title {
    font-size: 14px;
    margin: 0;
    padding-left: 10px;
    color: #333;
}
.pop-out .pop-out-hd .close {
    position: absolute;
    top: 13px;
    right: 10px;
    font-size: 14px;
    font-family: Tahoma;
    height: 14px;
    line-height: 14px;
    cursor: pointer;
}
.pop-out .pop-out-bd p {
}
.pop-out .pop-out-contents {
    text-align: center;
    padding: 0 10px;
}
.pop-out .pop-out-contents p {
    height: 20px;
    line-height: 20px;
    margin: 20px 0 0;
}
.pop-out .pop-out-bd .pop-out-btns {
    text-align: center;
    margin: 20px 0 20px 0;
}
.pop-out .pop-out-bd .pop-out-btns span {
    display: inline-block;
    text-align: center;
    padding: 0 20px;
    background: #fbbf4a;
    color: #fff;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}
.pop-out .pop-out-bd .pop-out-btns .cancel {
    display: none;
}
.pop-out .pop-out-bd .pop-out-btns.has-cancel .cancel {
    display: inline-block;
}
.pop-out .pop-out-ft {
}
.pop-out {
    width: 300px;
    /* height: 300px; */
}
#modifyEmail {
    text-align: center;
    margin: 20px 0 10px;
}
#modifyEmail .error {
    display: none;
    height: auto;
    line-height: 1;
    margin: 9px 0 0 0;
    color:red;
}

/**
 * 遮罩
 */
#mask, #loginMask {
    background: rgba(0, 0, 0, .3);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000)";
    /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000);
    /* IE6 & 7 */
    zoom: 1;
}