.collections-hd {
    position: relative;
    height: 33px;
    background: #f5f5f5;
    line-height: 33px;
    color: #666;
}
.collections-hd .filter {
    position: absolute;
    left: 25px;
}
/*单个收藏的样式*/
 .collections-list {
    margin: 0 0 40px 0;
}
.collections-list li {
    border-bottom: 1px solid #e3e5e7;
    height: 160px;
    position: relative;
}
.collections-list .select {
    margin: 44px 0 0 0;
    position: absolute;
}
.collections-list .item-detail {
    position: relative;
    padding: 30px 0 0 0;
    width: 540px;
    margin-right: 10px;
    float: left;
    height: 100px;
}
.collections-list .item-detail .item-img {
    position: absolute;
    margin: 0 0 0 30px;
    text-align: center;
    display: block;
    width: 110PX;
}
.collections-list .item-detail .item-img img {
    max-width: 100px;
    max-height: 110px;
}
.collections-list .item-detail .item-content {
    margin: 0 0 0 150px;
    line-height: 2em;
    width: 390px;
}
.collections-list .item-detail .item-content .title {
    color: #333;
    overflow: hidden;
    display: block;
    /* height: 31px; */
    max-height: 45px;
}
.collections-list .item-detail .item-content a:hover {
    color: #666;
}
.collections-list .item-detail .item-content .shop-price {
    color: #666;
}
.collections-list .item-detail .item-content .shop-price .shop {
}
.collections-list .item-detail .item-content .shop-price .price {
    color: #fd8712;
    font-weight: bold;
    font-size: 16px;
}
.collections-list .item-detail .item-content .deprice .depriced-number {
    color: #fd8712;
    font-weight: bold;
    margin: 0 4px;
}
.collections-list .item-detail .item-content .promotion {
    color: #fd8712;
    /* font-weight: bold; */
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.collections-list .not-avalible .item-detail .item-content .title, .collections-list .not-avalible .item-detail .item-content .shop, .collections-list .not-avalible .item-detail .item-content .price, .collections-list .not-avalible .item-detail .item-content .depriced-number, .collections-list .not-avalible .item-detail .item-content .deprice, .collections-list .not-avalible .item-detail .item-content .promotion {
    color: #999;
    font-weight:normal;
}
.collections-list .item-detail .not-avalible {
    color: #999;
}
.collections-list .item-detail .item-ops {
    position: absolute;
    right: 0;
    bottom: 0;
}
.collections-list .item-detail .item-ops .setting {
    margin-right: 15px;
}
.collections-list .item-detail .item-ops .delete {
}
.collections-list .item-guess {
    float: left;
    position: relative;
}
/*收藏夹为空*/
 .collection-empty {
    color: #666;
    line-height: 2em;
}
.collection-empty p {
    color: #666;
    line-height: 3em;
}
.collection-empty span {
    font-weight: bold;
    color: #fd8712;
}
.collection-empty img {
    margin: 10px 0 0 0;
}