<div class="results">
    <div class="hd collections-hd ">
        <label for="filter" >
            <input class="filter" name="filter" type="checkbox">只看优惠
        </label>
        <span>你可能感兴趣的商品</span>
    </div>
    <div class="bd collections-list">
        <ul></ul>
    </div>
    <div class="ft">
        <div class="loading">
            <p class="loading-tip">
                <img src="http://zhushou.huihui.cn/images/myspace/loading.gif" alt="">正在加载ing
            </p>
        </div>
        <div class="offline">
            <p><span class="icon icon-fail"></span>加载失败 <a href="javascript:;" class="retry">重试</a></p>
        </div>
    </div>
</div>
<div class="paging"></div>