<div class="results">
    <div class="hd collections-hd ">
        <label for="filter" >
            <input class="filter" name="filter" type="checkbox">只看优惠
        </label>
        <span class="recom-title">你可能感兴趣的商品</span>
    </div>
    <div class="bd collections-list">
        <ul></ul>
    </div>
    <div class="ft">
        <div class="empty" style="display:none">
            <!-- 收藏夹为空 -->
            <div class="collection-empty">
                <p>您还没有收藏任何商品哦!</p>
                <p>无需登录各电商，只要在商品页面点击“<span>收藏</span>”按钮，就可以时刻查看商品动态啦！</p>
                <img src="http://zhushou.huihui.cn/images/myspace/example.png" alt="助手收藏">
            </div>
        </div>
        <div class="loading">
            <p class="loading-tip">
                <img src="http://zhushou.huihui.cn/images/myspace/loading.gif" alt="">正在加载ing
            </p>
        </div>
        <div class="offline">
            <p><span class="icon icon-fail"></span>加载失败 <a href="javascript:;" class="retry">重试</a></p>
        </div>
    </div>
</div>
<div class="paging"></div>