<div class="results msgs">
    <div class="hd msgs-hd ">
        <div class="figure">
            <p class="broadcast">
                <span class="icon icon-broadcast"></span>
                您有<span class="msgNum"><%=1%></span>条新的降价提醒消息！</p>
            <p class="news-tip"><span class="icon icon-new"></span><a href="">通知不够及时？开通手机提醒！</a></p>
        </div>
        <div class="table-hd">
            <span class="thd-1">商品详情</span>
            <span class="thd-2">消息详情</span>
            <span class="thd-3">操作</span>
        </div>
    </div>
    <div class="bd msgs-list">
        <ul></ul>
    </div>
    <div class="ft">
        <div class="empty" style="display:none">
            <p>目前没有新的消息。</p>
        </div>
        <div class="loading">
            <p class="loading-tip">
                <img src="http://zhushou.huihui.cn/images/myspace/loading.gif" alt="">正在加载ing
            </p>
        </div>
        <div class="offline">
            <p><span class="icon icon-fail"></span>加载失败 <a href="javascript:;" class="retry">重试</a></p>
        </div>
    </div>
</div>
<div class="paging"></div>